@use '@angular/material' as mat;
@use '../../../../../core/theming/theme-variables' as themes;

@mixin styles($theme) {
    .container-form {
        background-color: mat.get-theme-color($theme, surface-container);
    }

    .logo path {
        fill: mat.get-theme-color($theme, primary);
    }

    .theme-type-button {
        color: mat.get-theme-color($theme, outline);
    }
}

@include styles(themes.$light-theme);

:host-context(.g-dark-theme) {
    @include styles(themes.$dark-theme);
}