// Abbreviations - xs: extra small / sm: small / md: medium / lg: large / xl: extra large

.g-padding-xs {
    padding: 8px;
}

.g-padding-sm {
    padding: 16px;
}

.g-padding-md {
    padding: 20px;
}

.g-padding-lg {
    padding: 24px;
}

.g-padding-xl {
    padding: 32px;
}

.g-border-radius-xs {
    border-radius: 4px;
}

.g-border-thickness-xs {
    border-width: 1px;
    border-style: solid;
}