.container_atom {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 10px;
    color: white;
}

.ativo {
    background-color: rgb(114, 185, 114);
}

.inativo {
    background-color: rgb(179, 87, 87);
}