.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#D0F5EA, #576FAC);
}

.container_formulario {
    display: flex;
    flex-direction: column;
    gap: 3px;
    background-color: white;
    width: 400px;
    border-radius: 20px;
    padding: 30px;
}

.esqueci_senha {
    margin-top: 16px;
    display: block;
}