<mat-sidenav-container class="container_template">
    <mat-sidenav mode="over" #sidenav>Sidenav content</mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="toolbar">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon class="icone_hamburguer">menu</mat-icon>
            </button>
            <img class="logo" width="190px" height="37px" src="../../../assets/logos/logo_ticketsystem_branco_horizontal.svg">
            <app-descricao-usuario-pagina-padrao-molecule class="perfil"></app-descricao-usuario-pagina-padrao-molecule>
        </mat-toolbar>
        <div class="container_conteudo">
            <h1 class="titulo_pagina">Título da página (TODO: ver como pegar o nome da página pela rota)</h1>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>