<mat-sidenav-container class="container_template">
    <mat-sidenav mode="over" #sidenav>Sidenav content</mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="toolbar">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon class="icone_hamburguer">menu</mat-icon>
            </button>
            <app-logo-claro-atom class="logo"></app-logo-claro-atom>
            <app-descricao-usuario-logado-atom class="perfil"></app-descricao-usuario-logado-atom>
        </mat-toolbar>
        <div class="container_conteudo">
            <h1 class="titulo_pagina">Título da página (TODO: ver como pegar o nome da página pela rota)</h1>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>