<div class="container_molecula">
    <app-logo-claro-atom></app-logo-claro-atom>
    <div class="container_formulario">
        <mat-form-field appearance="outline">
            <mat-label>Login</mat-label>
            <input matInput placeholder="Digite aqui o seu login.">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput placeholder="Digite aqui a sua senha.">
        </mat-form-field>
        <button mat-raised-button color="primary">Entrar</button>
        <a routerLink="/nao-encontrado" class="esqueci_senha">Esqueci a senha</a>
    </div>
</div>