<div class="container_molecula">
    <app-logo-claro-atom></app-logo-claro-atom>
    <form [formGroup]="meuForm" (ngSubmit)="onSubmit()" class="container_formulario">
        <mat-form-field appearance="outline">
            <mat-label>Login</mat-label>
            <input id="login" (blur)="atualizarMensagemErroLogin()" formControlName="login" matInput placeholder="Digite aqui o seu login." #login>
            <mat-error>{{mensagemErroLogin}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input id="senha" (blur)="atualizarMensagemErroSenha()" formControlName="senha" matInput placeholder="Digite aqui a sua senha.">
            <mat-error>{{mensagemErroSenha}}</mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">Entrar</button>
        <a routerLink="/nao-encontrado" class="esqueci_senha">Esqueci a senha</a>
    </form>
</div>