<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="form_container">
    <app-shared-a-message-box-basic></app-shared-a-message-box-basic>
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>Login</mat-label>
        <input (blur)="updateLoginErrorMessage()" id="login" formControlName="login" matInput placeholder="Digite aqui o seu login.">
        <mat-error>{{loginErrorMessage}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>Senha</mat-label>
        <input [type]="isPasswordVisible ? 'text' : 'password'" id="password" (blur)="updatePasswordErrorMessage()" formControlName="password" matInput placeholder="Digite aqui a sua senha.">
        <button type="button" mat-icon-button matSuffix (click)="isPasswordVisible = !isPasswordVisible">
            <mat-icon>{{isPasswordVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>
        <mat-error>{{passwordErrorMessage}}</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="isAuthenticationLoading">
        <span *ngIf="!isAuthenticationLoading">Entrar</span>
        <span *ngIf="isAuthenticationLoading"><mat-spinner color="accent" [diameter]="24"></mat-spinner></span>
    </button>
</form>