.container_formulario {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: white;
    width: 320px;
    border-radius: 24px;
    padding: 32px;
}

.esqueci_senha {
    margin-top: 16px;
    display: block;
}