.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#D0F5EA, #576FAC);
}