/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.g-padding-medium {
    padding: 16px;
}

.g-thin-round-border {
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
}